.mx-20.flex.h-16.items-center.gap-16
  .text-xl.font-bold.text-gray-900
    Changes
  .text-xl.text-gray-900
    Branch
    = @git.current_branch

= render "layouts/merged_header"

%h1 New merged_section

= render 'form'

= link_to 'Back', merged.sections_path
