.relative.block.border.border-gray-100
  %h3.mt-4.text-lg.font-bold= key.upcase + " : " + value
  %button.ml-3.inline-block.rounded-lg.bg-blue-500.px-5.py-3.text-md.font-medium.text-white
    =link_to "Change Template" , section_select_template_url(@section.id)
.relative.block.border.border-gray-100
  =image_tag("merged/section_preview/#{section.template}" , class: "w-full object-contain")
