.relative.block.border.border-gray-100
  %h3.mt-4.text-lg.font-bold= key.upcase
  %p= value
.relative.block.border.border-gray-100
  =image_tag("merged/section_preview/#{section.template}" , class: "w-full object-contain")
