- content_for( :merged_menu ) do
  .text-xl.font-bold
    Page styles
  .text-xl.font-bold
    =link_to "Section styles" , "#section_styles"
  .text-xl.font-bold
    =link_to "Card styles" , "#cards_styles"

= render "layouts/merged_header"

.flex.bg-cyan-100
  .px-4.py-8.mx-auto.text-center
    %h1.text-4xl.font-bold
      Page styles

.grid.grid-cols-3.gap-4.m-8
  -@page_styles.each do |style|
    %article.overflow-hidden.rounded-lg.border.border-gray-100.shadow-sm
      .p-6
        %h3.text-lg.font-medium
          =style.type
        %p.mt-2.text-sm
          Shorthand:
          =style.section_template
    .overflow-hidden.rounded-lg.border.border-gray-100.shadow-sm
      .p-6
        -if style.section_template
          = style.section_template
          .w-full.object-contain
            =image_tag(style.section_preview )
        -else style.section_template
          .w-full
            Any Section allowed
    =render "options" , style: style

#section_styles.flex.bg-cyan-100
  .px-4.py-8.mx-auto.text-center
    %h1.text-4xl.font-bold
      Section styles

.grid.grid-cols-3.gap-4.m-8
  -@section_styles.each do | style|
    .overflow-hidden.rounded-lg.border.border-gray-100.shadow-sm
      .p-6
        %h3.text-lg.font-medium
          =style.header
        %p.mt-2.text-sm.leading-relaxed.line-clamp-3
          = style.text
        %p.mt-2.text-sm
          Shorthand:
          =style.template
        %h3.text-lg.font-medium.mt-4
          Cards
        %p.mt-2.text-sm.leading-relaxed.line-clamp-3
          -if(style.has_cards?)
            Section may include cards. See card styles below
          -else
            Section may not include cards
    .overflow-hidden.rounded-lg.border.border-gray-100.shadow-sm
      .p-6
        .w-full.object-contain.h-72
          =image_tag(style.section_preview )

    =render "options" , style: style

#cards_styles.flex.bg-cyan-100
  .px-4.py-8.mx-auto.text-center
    %h1.text-4xl.font-bold
      Card styles
.grid.grid-cols-3.gap-4.m-8
  -@cards_styles.each do |style|
    %article.overflow-hidden.rounded-lg.border.border-gray-100.shadow-sm
      .p-6
        %h3.text-lg.font-medium
          =style.header
        %p.mt-2.text-sm.leading-relaxed.line-clamp-3
          = style.text
        %p.mt-2.text-sm
          Shorthand:
          =style.template
    .overflow-hidden.rounded-lg.border.border-gray-100.shadow-sm
      .p-6
        .w-full.object-contain.h-72
          =image_tag(style.card_preview )

    =render "options" , style: style
