.m-4.md:m-8.lg:m-12{background_option(card)}
  %div{ order_option(card)}
    = image_for( card , "h-full w-full object-cover")
  .m-6{options(card , :text_align , :color , :order)}
    %h3.p-4.text-2xl.font-bold= card.header
    -if card.has_option?("subheader")
      %h4.p-4.text-xl= card.option("subheader")
    .pose.mt-2.p-4= markdown(card)
