.fex.flex-col.overflow-hidden.rounded-lg.border.border-gray-100.shadow-sm.m-10
  = image_for( card ,  class: "object-fill")
  %h3.p-5.text-2xl.bg-gray-100.text-black.font-bold{ text_align_option(card)}= card.header
  %div.h-full{background_option(card)}
    .p-5{options(card , :text_align , :color)}
      %p.m-2.text-sm.leading-relaxed.line-clamp-3
        = markdown(card)
