.grid.grid-cols-1.gap-12.m-12.md:gap-8.md:m-8.lg:gap-12.lg:m-12
  %div{ order_option(card)}
    = image_for( card , "h-full w-full object-cover")
  .grid.h-70{options(card , :text_align , :color , :background )}
    %h3.p-4.mt-10.text-3xl.font-bold= card.header
    -if card.has_option?("subheader")
      %h4.p-4.text-xl= card.option("subheader")
    .m-6{options(card , :background , :color ) }
      %div{ prose_classes }
        = markdown(card)
