.relative.block.border.border-gray-100
  %h3.mt-4.text-lg.font-bold= key.upcase
  %p
    .font-bold Text
    = value["text"]
.relative.block.border.border-gray-100
  %p
    .font-bold Link
    = value["link"]
