.relative.block.border.border-gray-100
  %h3.mt-4.text-lg.font-bold Text
  = form_tag( card_url(card.id) , {method: :patch  } ) do
    = text_area_tag( :text , card.content["text"], class: "w-full rounded-lg border-gray-200 p-4 pr-12 text-sm shadow-sm")
    %button.ml-3.inline-block.rounded-lg.bg-blue-500.px-5.py-3.text-sm.font-medium.text-white{:type => "submit"}
      Update
