%section{ options(section , :background , :margin)}
  .flex{ options(section , :item_align )}
    .px-4.py-4.md:py-10.lg:py-16.mx-5.md:mx-12.lg:mx-20{options(section , :text_align , :color)}
      %h1.text-2xl.font-bold.tracking-tight.sm:text-4xl
        = section.header
      -if section.has_option?("subheader")
        %h4.text-xl.mt-10.md:text-2xl
          = section.option("subheader")
      .mt-4.text-lg.pt-10{ prose_classes }
        = markdown(section)
