- if blog = last_blog
  %section.border.border-xl.mt-20{ options(section , :background )}
    .flex.my-5.mx-20.justify-between.items-center
      .text-2xl.font-bold.tracking-tight.sm:text-4xl
        = section.header
      .text-lg
        = distance_of_time_in_words_to_now last_blog.updated_at
        ago
  %hr.mt-2.border.border-4.border-gray-600
  - template = find_template(last_blog)
  = render( template , section: last_blog)
  .flex.justify-between.items-center.border-b-8.border-gray-600
    .ml-20.mb-2.text-lg
      = section.text
    .mr-20.mb-2.text-lg
      %a.transition{:class => "hover:text-gray-500/75", :href => main_app.view_blog_path(blog.page.name)}
        Read More . . .
