%section.overflow-hidden.bg-cover.bg-no-repeat{bg(section , "h-full")}
  .px-4.py-24.sm:px-6.lg:px-8
    .flex{ item_align_option( section)}
      .p-8.md:p-12.lg:px-16.lg:py-24{options(section , :shade )}
        .mx-auto.max-w-xl{ options(section , :color, :text_align)}
          %h2.text-2xl.font-bold.md:text-5xl
            = section.header
          %p.prose.hidden.sm:mt-4.sm:block.text-2xl
            = markdown(section)
          .mt-4.md:mt-8
            -if section.has_option?("button_text")
              = render 'merged/view/elements/button' , section: section
