.flex.h-16.items-center.gap-16
  %a.ml-20{:href => "/merged/pages"}
    %span.sr-only Home
    =image_tag("merged/merged_logo" , class: "h-10")

  %ul.flex.items-center.gap-6.text-lg
    %li
      %a.text-gray-500.transition{:class => "hover:text-gray-500/75", :href => pages_path}
        Pages
    %li
      %a.text-gray-500.transition{:class => "hover:text-gray-500/75", :href => images_path}
        Images
    %li
      %a.text-gray-500.transition{:class => "hover:text-gray-500/75", :href => styles_index_path}
        Styles
    %li
      %a.text-gray-500.transition{:class => "hover:text-gray-500/75", :href => changes_index_path}
        Changes
  = yield :merged_menu
